.ui.menu.top-menu {
    border: none;
    .logo {
        width: 17rem;
    }
    .nav-container {
        flex-grow: 1;
        justify-content: space-between;
        padding: 0;

        .search-input {
            padding-left: 0;
            width: 33%;

            form {
                width: 100%;
            }
        }
    }
}

